@page "/counting"

<PageTitle>Counter</PageTitle>

<h1>Hello, world!</h1>
<h2>Blazor Web Assembly</h2>
<Counter IncrementAmount="2" @rendermode="@RenderMode.WebAssembly" />

Welcome to your new app.


